.App {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--neutral), white);
}

.App-logo {
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
  transition: transform 300ms;
  animation: float 6s ease-in-out infinite;
}

.App-logo:hover {
  transform: scale(1.1);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: none;
}

.App-link {
  color: var(--primary);
  font-weight: 500;
  transition: color 300ms;
}

.App-link:hover {
  color: var(--accent);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
